<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <%= render "shared/menu" %>
    </div>
    <div class="col-md-8 col-lg-9">
      <div class="mb-2">
        <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/<%= @post.spotify_track_id %>?utm_source=generator" allowfullscreen allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <div class="mb-5">
        <div class="d-flex justify-content-between text-white">
          <h5 class="mb-3"><%= @post.user.name %></h5>
          <p class="small"><%= time_ago_in_words(@post.created_at) %>前</p>
        </div>
        <% if @post.content.present? %>
          <p class="text-white"><%= @post.content %></p>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="mb-4">
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <% if @comment.errors.any? %>
              <div class="alert alert-danger py-2">
                <% @comment.errors[:content].each do |message| %>
                  <div><%= message %></div>
                <% end %>
              </div>
            <% end %>
            <div class="mb-3">
              <%= f.text_area :content, class: "comment-form w-100 text-white bg-transparent border-0 border-bottom", rows: 1, placeholder: "コメントを入力...",
              data: { controller: "auto-resize", action: "input->auto-resize#onInput" }%>
            </div>
            <div class="d-flex justify-content-end">
              <%= f.submit "コメントを投稿", class: "btn btn-outline-light" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-white">コメントするにはログインしてください。</p>
        <hr class="border border-white">
      <% end %>
      <div class="mt-4">
        <% @comments.each do |comment| %>
          <div class="mb-3 p-3 comment-container">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div class="fw-bold text-white"><%= comment.user.name %></div>
              <div class="small text-white"><%= time_ago_in_words(comment.created_at) %>前</div>
            </div>
            <div class="text-white">
              <%= simple_format(h(comment.content)) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
